/*-----------------------------------------------------------------------------/
/       _________              ___.                            __   
/      /   _____/ __ __   ____ \_ |__   __ __ _______  _______/  |_ 
/      \_____  \ |  |  \ /    \ | __ \ |  |  \\_  __ \/  ___/\   __\
/      /        \|  |  /|   |  \| \_\ \|  |  / |  | \/\___ \  |  |  
/     /_______  /|____/ |___|  /|___  /|____/  |__|  /____  > |__|  
/             \/             \/     \/                    \/        
/
/ Noasis to Stanley Rost's Sunburst TextMate theme.
/
/ N.B. Styles that I haven't gotten to yet are styled as italic/#ff0000 so 
/ they're noticeable when they appear.
/-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------/
/ Theme styles
/-----------------------------------------------------------------------------*/
meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: auto;
}

/*-----------------------------------------------------------------------------/
/ Window styles
/-----------------------------------------------------------------------------*/
meta.window {
  background-color: #1e1e1e;
  border-color: #474747;
}

meta.titlebar {
  color: #f8f8f8;
  background-color: #1e1e1e;
  border-color: #474747;
}

meta.titlebar.inactive {
  background-color: #1e1e1e;
}

meta.button {
  color: #f8f8f8;
  background: linear-gradient(hsb(210, 10%, 34%), hsb(210, 10%, 26%));
  border: linear-gradient(hsb(210, 10%, 18%), hsb(210, 10%, 14%));
}

meta.button.highlighted {
  color: #f8f8f8;
  background: linear-gradient(#699ddf, #377edb);
}

meta.button.selected,
meta.button.highlighted.selected {
  color: #f8f8f8;
}

meta.button.disabled {
  color: #787878;
  background: linear-gradient(hsb(210, 10%, 34%), hsb(210, 10%, 26%));
  border: linear-gradient(hsb(210, 10%, 18%), hsb(210, 10%, 14%));
}

meta.textfield {
  background-color: #353535;
  border-color: #2f2f2f;
}

meta.accent {
  color: #99cf50;
}

/*-----------------------------------------------------------------------------/
/ Document styles
/-----------------------------------------------------------------------------*/
meta.document {
  background-color: #000000;
  border-color: #474747;
}

meta.document.button {
  background: linear-gradient(hsb(210, 10%, 34%), hsb(210, 10%, 26%));
  border: linear-gradient(hsb(210, 10%, 18%), hsb(210, 10%, 14%));
}

meta.document.button.disabled {
  color: #787878;
  background: linear-gradient(hsb(210, 10%, 34%), hsb(210, 10%, 26%));
  border: linear-gradient(hsb(210, 10%, 18%), hsb(210, 10%, 14%));
}

meta.document.button.highlighted {
  color: #f8f8f8;
  background: linear-gradient(#699ddf, #377edb);
}

meta.document.textfield {
  background-color: #353535;
  border-color: #2f2f2f;
}

/*-----------------------------------------------------------------------------/
/ Text styles
/-----------------------------------------------------------------------------*/
meta.text {
  color: #f8f8f8;
}

meta.text.invisible {
  color: rgba(202, 226, 251, 0.25);
}

meta.text.selected {
  background-color: rgba(221, 240, 255, 0.15);
}

/*-----------------------------------------------------------------------------/
/ Cursor styles
/-----------------------------------------------------------------------------*/
meta.cursor {
  background-color: rgba(255, 255, 255, 0.15);
}

/*-----------------------------------------------------------------------------/
/ Indentation styles
/-----------------------------------------------------------------------------*/
meta.indentguide {
  border-color: #3e3e3e;
}

/*-----------------------------------------------------------------------------/
/ Gutter styles
/-----------------------------------------------------------------------------*/
meta.gutter {
  color: #7c7c7c;
}

meta.gutter.selected {
  color: #e8e8e8;
  background-color: #474747;
}

/*-----------------------------------------------------------------------------/
/ Syntax styles
/-----------------------------------------------------------------------------*/
keyword {
  color: #99cf50;
}

comment {
  font-style: italic;
  color: #aeaeae;
}

processing {
  color: #afc4db;
}

declaration {
  color: #494949;
}

bracket {
  color: #f8f8f8;
}

operator {
  color: #e28964;
}

invalid {
  color: #fd5fff;
  background-color: rgba(86, 45, 86, 0.75);
}

link {
  font-style: italic;
  color: #ff0000;
}

/*-----------------------------------------------------------------------------/
/ Value styles
/-----------------------------------------------------------------------------*/
value.boolean {
  color: #e28964;
}

value.null {
  color: #377edb;
}

value.number {
  color: #377edb;
}

value.entity {
  color: #89bdff;
}

value.symbol {
  color: #377edb;
}

/*-----------------------------------------------------------------------------/
/ Identifier styles
/-----------------------------------------------------------------------------*/
identifier.type {
  font-style: italic;
  color: #ff0000;
}

identifier.constant {
  color: #3e87e3;
}

identifier.global,
identifier.variable {
  color: #377edb;
}

identifier.property,
identifier.decorator,
identifier.method {
  color: #dad085;
}

identifier.function {
  color: #89bdff;
}

identifier.key {
  color: ##99cf50;
}

identifier.argument {
  color: #377edb;
}

/*-----------------------------------------------------------------------------/
/ String styles
/-----------------------------------------------------------------------------*/
string {
  color: #65b042;
}

string.key {
  color: #99cf50;
}

string-template {
  color: #99cf50;
}

string-template.value {
  color: #65b042;
}

regex {
  color: #e9c062;
}

regex.escaped {
  color: #e28964;
}

cdata {
  color: #99cf50;
}

/*-----------------------------------------------------------------------------/
/ Markup styles
/-----------------------------------------------------------------------------*/
markup.heading {
  color: #fedcc5;
  background-color: #632d04;
}

markup.line {
  color: #60a633;
  background-color: #242424;
}

markup.bold {
  font-weight: bold;
  color: #e9c062;
}

markup.italic {
  font-style: italic;
  color: #e9c062;
}

markup.strikethrough {
  text-decoration: line-through;
}

markup.list.item {
  color: #e1d4b9;
}

markup.code {
  color: #578bb3;
  background-color: rgba(177, 179, 186, 0.1);
}

/*-----------------------------------------------------------------------------/
/ Types styles
/-----------------------------------------------------------------------------*/
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: italic;
  color: #ff0000;
}

/*-----------------------------------------------------------------------------/
/ Member styles
/-----------------------------------------------------------------------------*/
definition.property property.name,
definition.function function.name,
definition.method method.name {
  font-weight: italic;
  color: #ff0000;
}

/*-----------------------------------------------------------------------------/
/ Tags styles
/-----------------------------------------------------------------------------*/
tag,
tag.attribute.name {
  color: #89bdff;
}

tag.framework {
  color: #e0c589;
}

tag.attribute.value,
tag.attribute.value.link {
  color: #65b042;
}

/*-----------------------------------------------------------------------------/
/ Style, er… styles
/-----------------------------------------------------------------------------*/
style.at {
  color: #e18964;
}

style.selector.element {
  color: #cda869;
}

style.selector.identifier.id {
  color: #8b98ab;
}

style.selector.identifier.class {
  color: #9b703f;
}

style.selector.pseudoclass,
style.selector.pseudoelement {
  color: #8f9d6a;
}

style.attribute.name {
  color: #c5af75;
}

style.value.number,
style.value.color.hex {
  color: #dd7b3b;
}

style.value.keyword,
style.value.color.named {
  color: #f9ee98;
}
