/*-----------------------------------------------------------------------------/
/       _________              ___.                            __   
/      /   _____/ __ __   ____ \_ |__   __ __ _______  _______/  |_ 
/      \_____  \ |  |  \ /    \ | __ \ |  |  \\_  __ \/  ___/\   __\
/      /        \|  |  /|   |  \| \_\ \|  |  / |  | \/\___ \  |  |  
/     /_______  /|____/ |___|  /|___  /|____/  |__|  /____  > |__|  
/             \/             \/     \/                    \/        
/
/ Noasis to Stanley Rost's Sunburst TextMate theme.
/-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------/
/ Theme attributes
/-----------------------------------------------------------------------------*/
meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: true;
}

/*-----------------------------------------------------------------------------/
/ Window attributes
/-----------------------------------------------------------------------------*/
meta.window {
  background-color: #000000;
  border-color: #474747;
}

meta.titlebar {
  color: #f8f8f8;
  background-color: #000000;
  border-color: #474747;
}

meta.titlebar.inactive {
  color: #949494;
  background-color: #1e1e1e;
  border-color: #474747;
}

/*-----------------------------------------------------------------------------/
/ Buttons attributes
/-----------------------------------------------------------------------------*/
meta.button {
  color: #f8f8f8;
  text-shadow: 0 1px #1367ac;
  background-color: #3387cc;
  border-color: #1367ac;
}

meta.button.disabled {
  color: #f8f8f8;
  text-shadow: 0 1px #000000;
  background-color: #1e1e1e;
  border-color: #474747;
}

meta.button.highlighted {
  color: #f8f8f8;
  text-shadow: 0 1px #03579c;
  background-color: #1367ac;
  border-color: #03579c;
}

meta.button.selected {
  color: #f8f8f8;
  text-shadow: 0 1px #03579c;
  background-color: #1367ac;
  border-color: #03579c;
}

meta.button.highlighted.selected {
  color: #f8f8f8;
  text-shadow: 0 1px #03579c;
  background-color: #1367ac;
  border-color: #03579c;
}

/*-----------------------------------------------------------------------------/
/ Textfield attributes
/-----------------------------------------------------------------------------*/
meta.document.textfield {
  background-color: #2f2f2f;
  border-color: #1e1e1e;
}

meta.document.textfield.active {
  background-color: #474747;
  border-color: #2f2f2f;
}

meta.textfield {
  background-color: #2f2f2f;
  border-color: #1e1e1e;
}

meta.textfield.active {
  background-color: #474747;
  border-color: #2f2f2f;
}

/*-----------------------------------------------------------------------------/
/ Document attributes
/-----------------------------------------------------------------------------*/
meta.document {
  background-color: #000000;
  border-color: #474747;
}

meta.text {
  color: #f8f8f8;
}

meta.text.selected {
  background-color: rgba(221, 240, 255, 0.15);
}

meta.cursor {
  background-color: rgba(255, 255, 255, 0.15);
}

meta.indentguide {
  border-color: #3e3e3e;
}

meta.gutter {
  color: #7c7c7c;
  background-color: #262626;
}

meta.gutter.selected {
  color: #e8e8e8;
  background-color: #474747;
}

/*-----------------------------------------------------------------------------/
/ Language attributes
/-----------------------------------------------------------------------------*/
keyword {
  color: #99cf50;
}

comment {
  font-style: italic;
  color: #aeaeae;
}

processing {
  color: #afc4db;
}

declaration {
  color: #494949;
}

bracket {
  color: #f8f8f8;
}

operator {
  color: #e28964;
}

invalid {
  color: #fd5ff1;
  background-color: rgba(86, 45, 86, 0.75);
}

value.boolean {
  color: #e28964;
}

value.null {
  font-style: italic;
  color: #aeaeae;
}

value.number {
  color: #3387cc;
}

value.entity {
  color: #89bdff;
}

value.symbols {
  color: #3387cc;
}

string {
  color: #99cf50;
}

string.key {
  color: #65b042;
}

string-template {
  /* color: #99cf50; */
}

string-template.value {
  /* color: #65b042; */
}

regex {
  color: #e9c062;
}

regex.escaped {
  color: #cf7d34;
}

cdata {
  color: #99cf50;
}

/*-----------------------------------------------------------------------------/
/ Identifier attributes
/-----------------------------------------------------------------------------*/
identifier {
  color: #3387cc;
}

identifier.type {
  text-decoration: underline;
}

identifier.type.class {
  color: #3387cc;
}

identifier.type.protocol {
  color: #99cf50;
}

identifier.type.enum {
  color: #99cf50;
}

identifier.type.union {
  color: #3387cc;
}

identifier.type.struct {
  color: #99cf50;
}

identifier.global {
  color: #3387cc;
}

identifier.variable {
  color: #f8f8f8;
}

identifier.constant {
  color: #3387cc;
}

identifier.property {
  color: #f8f8f8;
}

identifier.decorator {
  color: #89bdff;
}

identifier.function {
  color: #89bdff;
}

identifier.method {
  color: #89bdff;
}

identifier.key {
  color: #99cf50;
}

identifier.argument {
  color: #3387cc;
}

/*-----------------------------------------------------------------------------/
/ Definition attributes
/-----------------------------------------------------------------------------*/
definition {
  /* color: #99cf50; */
}

definition.type {
  color: #ff0000;
}

definition.class {
  color: #ff0000;
}

definition.package {
  color: #ff0000;
}

definition.protocol {
  color: #ff0000;
}

definition.enum {
}

definition.union {
  color: #ff0000;
}

definition.struct {
  color: #ff0000;
}

definition.property {
  color: #ff0000;
}

definition.function {
  color: #ff0000;
}

definition.method {
  color: #ff0000;
}

/*-----------------------------------------------------------------------------/
/ Tag attributes
/-----------------------------------------------------------------------------*/
tag {
  color: #89bdff;
}

tag.framework {
  color: #3387cc;
}

tag.attribute.name {
  color: #89bdff;
}

tag.attribute.value {
  color: #65b042;
}

/*-----------------------------------------------------------------------------/
/ Style attributes
/-----------------------------------------------------------------------------*/
style {
  /* color: #89bdff; */
}

style.at {
  /* color: #8693a5; */
  color: #dd7b3b;
}

style.selector {
  color: #9b703f;
}

style.selector.element {
  color: #cda869;
}

style.selector.identifier.id {
  color: #8b98ab;
}

style.selector.identifier.class {
  color: #9b703f;
}

style.selector.pseudoclass {
  /* color: #8f9d6a; */
  color: #89bdff;
}

style.selector.pseudoelement {
  /* color: #8f9d6a; */
  color: #89bdff;
}

style.attribute {
  color: #c5af75;
}

style.value {
  color: #f9ee98;
}

style.value.number {
  color: #dd7b3b;
}

style.value.color {
  color: #dd7b3b;
}

style.value.keyword {
  color: #f9ee98;
}

/*-----------------------------------------------------------------------------/
/ Markdown attributes
/-----------------------------------------------------------------------------*/
markup {
  color: #e9c062;
}

markup.heading {
  color: #fedcc5;
  background-color: #632d04;
}

markup.line {
  color: #60a633;
  background-color: #242424;
}

markup.bold {
  font-weight: bold;
}

markup.italic {
  font-style: italic;
}

markup.strikethrough {
  text-decoration: line-through;
}

markup.list {
  color: #e1d4b9;
}

markup.code {
  color: #578bb3;
  background-color: rgba(177, 179, 186, 0.13);
}

markup.link {
  color: #e18964;
  text-decoration: underline;
}

/*-----------------------------------------------------------------------------/
/ Terminal attributes
/-----------------------------------------------------------------------------*/
terminal.black {
  color: #000000;
}

terminal.red {
  color: #c00000;
}

terminal.green {
  color: #00c800;
}

terminal.yellow {
  color: #f8c800;
}

terminal.blue {
  color: #0000c8;
}

terminal.magenta {
  color: #c800c8;
}

terminal.cyan {
  color: #00c8c8;
}

terminal.white {
  color: #f8f8f8;
}

terminal.bright-black {
  color: #1f1f1f;
}

terminal.bright-red {
  color: #ff0000;
}

terminal.bright-green {
  color: #00ff00;
}

terminal.bright-yellow {
  color: #ffcf00;
}

terminal.bright-blue {
  color: #0000ff;
}

terminal.bright-magenta {
  color: #ff00ff;
}

terminal.bright-cyan {
  color: #00ffff;
}

terminal.bright-white {
  color: #ffffff;
}
